body {
    margin: 0;
    padding: 0;
    background-color: #131212;
}

.d-flex {
    display: flex;
    
}
.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

.margin-r {
    margin-right: 40px;
}

.just-c-c {
    justify-content: center;
}

.align-c {
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.list--hover:hover{
    border-bottom: 3px dotted #EBEBEB;   
}

.main-container{
    max-width: 1440px;
    margin:  auto;
}



.container {
    max-width: 1440px;
    margin: auto;
}

.mainmenu {
    height: 200px;
    justify-content: space-between;
}

.mainmenu__hamburger1{
    display: none;
}

.mainmenu-mobile {
    display: none;
}


.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color:  white;
}

.hamburger.is-active 
.hamburger-inner, 
.hamburger.is-active 
.hamburger-inner::before,
 .hamburger.is-active 
 .hamburger-inner::after {
    background-color: white;
 }
.logo {
    width: 180px;
    height: 50px;
}

.tabs {
    height: 50px;
}

.tabs ul {
    padding: 0;
}

.tabs__list {
    list-style: none;
}

.tabs__list a {
    color: #1C62CD;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 32px;
}

.tabs__list a::after {
    content: ">";
    color: #D9D9D9;
    margin: 0 15px;
}

.tabs__list p {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 32px;
}

.mainmenu-list-left a {
    color: #fff;
    margin-right: 40px;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 20px;
}

.text-line {
    border-bottom: 3px solid white;
}

.mainmenu-right {
    align-items: center;
    justify-content: space-between;
    
}

.mainmenu-right__item p {
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
}

.marker {
    margin-right: 25px;
}

.banner-tagline {
    background-image: url('../images/banner.png');
    width: 1440px;
    height: 390px;
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    color: white;
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 64px;
    position: absolute;
    top: 15%;
}

.search {
    height: 200px;
    align-items: center;
}

h2 {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 20px;
}

label {
    position: relative;
}

.search-form {
    height: 100px;
    display: flex;
    align-items: center;
}

.search-field {
    width: 660px;
    height: 55px;
    border-radius: 5px;
    
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 11px;
}

.search-button {
    width: 155px;
    height: 55px;
    background-color: #51578C;
    cursor: pointer;
}

.search-button p {
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.guitar-block {
    width: 700px;
    height: 200px;
    border: 1px solid black ;
    border-radius: 3px ;
    position: relative;
}

.guitar-block a {
    width: 100%;
    height: 100%;
}

.guitar-block img {
    position: absolute;
    right: 50px;
    top: 20px;
}

.guitar-block--violet {
    background-color: #51578C;
}

.guitar-block--white {
    background-color:  #EBEBEB;
}

.guitar-block__classic-text {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 36px;
}

.guitar-block__electro-text {
    color: black;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 36px;
}

.guitar-block h3 {
    margin-left: 60px;
    margin-top: 40px;
}

.slider-guitar div {
    width: 1440px;
    height: 390px;
}

.offers {
    height: 200px;
    display: flex;
    align-items: center;
}

.offers-block {
    width: 440px;
    height: 130px;
}

.offers-block--grey {
    background-color: #EBEBEB;
}

.offers-block--violet {
    background-color: #51578C;
}

.offers-block__icon {
    width: 60px;
    height: 60px;
}

.offers-block p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
    width: 220px;
    height: 100px;
}

.offers-block img {
  padding: 55px 40px;  
}

.white-text {
    color: #fff;
}

.photo-celebrities {
    display: grid;
    max-width: 1440px;
    height: 800px;
    margin: auto;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1 fr  1fr;
    grid-gap: 15px;
    
}

.img{
   width: 710px;
   height: 390px; 
   margin: 0;
   padding: 0;
}




.footer {
    background-color: #EBEBEB;
    width: 1440px;
    height: 120px;
    margin: auto;
}

.footer__item {
    margin-right: 80px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
}

.footer__item:last-child {
    margin-right: 0px;
}

.messangers-icon a{
    margin-right: 19px;
}

.messangers-icon a:last-child{
    margin-right: 0px;
}

.slideshow-container{
    width: 1440px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.slider-photo{
    width: 1440px;
    height: 450px;
    margin: auto;
}

.slider-buttons{
    margin-top: 15px;
    display: flex;
   margin-left: 640px;
    gap: 20px;
    
}

.prev, .next {
    cursor:pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 70px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}

.next{
    right:0;
    border-radius: 3px 0 0 3px;
    
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.7);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0.2px;
    
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    transition:  background-color 0.6 ease;
}

.active, dot:hover {
    background-color:  #40467C ;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: 4}
    to {opacity: 1}
}

@keyframes fade{
    from{opacity: 0;}
    to {opacity: 1}
}


.search1{
    display: none;
}
@media screen and (max-width: 450px){


    .mainmenu {
    height: 100px;
}

.main-container {
    padding: 0 60px;
}

.mainmenu-right, .mainmenu-left{
    display: none;
    max-width: 450px;

}

.mainmenu__hamburger1{
    display: block;
    background-color:  #131212;
    color: white;
}

.mainmenu-mobile {
    width: 150px;
    height: 200px;
    background-image: linear-gradient(to bottom, grey, black);
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1;
    border: 1px solid #fff;
}

.mainmenu-mobile li {
    list-style: none;
}

.mainmenu-mobile a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
}

.mainmenu__hamburger1.is-active + .mainmenu-mobile {
    display: block;
}

.reverse {
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
}

.banner-tagline {
    display: none;
}

.search-field {
    width: 250px;
}

.cont-button{
    width: 60px;
    height: 55px;
    
  
}

.search-button {
    width: 55px;
    height: 57px;
}

.search-button p{
    display: none;
}

.type-of-guitar {
    width: 380px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.margin-r {
    margin-right: 0;
}

.guitar-block {
    width: 340px;
    display: flex;
    justify-content: center;
}

/* .guitar-block h3 {
    display: none;
    
} */

.search{
    display: none;
}

.search1{
    display: block;
    margin: auto;
   
}
.search-icon{
   position: relative;
   margin-left: 30px;
  margin-bottom: 15px;
  
}


.guitar-block__classic-text {
    font-size: 14px;
}

.guitar-block__electro-text {
    font-size: 14px;
}

.slideshow-container {
    display: none;
}

.offers{
    height: 750px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.d-grid {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.offers-block {
    width: 340px;
    height: 200px;
}

.photo-celebrities {
    display: none;
}
   
.footer {
    background-color: #EBEBEB;
    width: 340px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.footer__item {
    margin-right: 0px;
}

.footer__item ul {
    width: 250px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}




}
    
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Montserrat:wght@400;500;600&family=Roboto+Slab&family=Rubik&display=swap');

.text-catalog1{
    width: 1140px;
    height: 70px;
    margin: auto;
    margin-top: 56px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 26px;

color: #DADADA;

}
.classicGuitar{
    width: 1140px;
    text-align: center;
    margin-top: 57px;
    margin-left: 128px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 47px;
color: #EBEBEB;;
}

.present__image{
    width: 953px;
    height: 393px;
    text-align: center;
}

.present__text{
    font-size: 35px;
    font-family: 'Roboto Slab';
    color: #FFFFFF;
}

.catalog  {
    display: grid;
    width: 1440px;
    height: 1200px;
   grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    

}



.rectangle1{
    width: 400px;
    height: 400px;
    margin-top: 44px; 
    position: relative;
    background: #c8d913;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__guitar--image{
position: absolute;
width: 280px;
height: 156px;
margin-top: 21px;
margin-left: 60px;

}
.guitar__header{
    margin-left: 85px;
    align-items: center;
    width: 234px;
height: 76px;
   margin-top: 20px;
   margin-bottom: 0;
    padding: 0;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-align: center;

color: #000000;
}

.guitar__price{
    margin-top: 185px;
    margin-left: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}

.guitar__button{
margin-top: -25px;

width: 200px;
height: 40px;
left: 341px;
top: 892px;
background-color: #1EA412;;
border: #1EA412;;
color: white;
box-sizing: border-box;
border-radius: 10px;
margin-left: 105px;
justify-content: center;
text-decoration: none;
align-items: center;

}

.button__text{
    width: 118px;
height: 29px;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.rectangle__default{
    width: 400px;
    height: 400px;
    margin-top: 44px; 
    position: relative;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle__default1{
    width: 400px;
    height: 400px;
  
    position: relative;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container-footer{
    width: 1000px;
    margin-left: -20px;
   
    margin-top: 70px;
}
.footer1 {
   margin-left: 20px;
    background-color: #EBEBEB;
    width: 1400px;
    height: 120px;
}
body {
background-image: url('../images/cover-page.jpg');
background-repeat: no-repeat;
}

.city {
    height: 200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.radio span {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 36px;
    border: 1px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.radio__input:checked + span {
    color: #1C62CD;
}

.radio span:before {
    content: "•";
    padding: 0 15px;
}

.about-shop {
    height: 800px;
}

.about-shop__text {
    width: 1200px;
}

.about-shop__text p {
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 32px;
}
body {
    background-image: url('../images/cover-page.jpg');
    background-repeat: no-repeat;
}

.u-city {
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 32px;
    padding: 30px 0;

}

.u-city span {
    color: yellow;
}

.grid-map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 660px;
    gap: 90px;
}

.contact-text p {
    color: white;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 32px;
}

.info-delivery {
    height: 900px;
    width: 1440px;
}


.info-delivery__text h1 {
    color: #fff;
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 48px;
}

.info-delivery__text h2 {
    color: #fff;
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 40px;
}

.info-delivery__text p {
    color: #fff;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 32px;
}

.delivery-offers {
    width: 1440px;
    height: 160px;
    background-color: #EBEBEB;
    justify-content: space-between;
    margin: 100px 0;
}

.delivery-offers__item {
    width: 300px;
    height: 110px;
}

.delivery-offers__item img {
    padding: 0 10px;
}

.delivery-offers__item p {
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 22px;
    padding: 0 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Montserrat:wght@400;500;600&family=Roboto+Slab&family=Rubik&display=swap');

.text-catalog1{
    width: 1140px;
    height: 70px;
    margin: auto;
    margin-top: 56px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 26px;

color: #DADADA;

}
.classicGuitar{
    width: 1140px;
    text-align: center;
    margin-top: 57px;
    margin-left: 128px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 47px;
color: #EBEBEB;;



}

.catalog  {
    display: grid;
    width: 1440px;
    height: 875px;
    
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    

}



.rectangle1{
    width: 400px;
    height: 400px;
    margin-top: 44px; 
    position: relative;
    background: #c8d913;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__guitar--image{
position: absolute;
width: 280px;
height: 156px;
margin-top: 21px;
margin-left: 60px;

}
.guitar__header{
    margin-left: 85px;
    align-items: center;
    width: 234px;
height: 76px;
   margin-top: 20px;
   margin-bottom: 0;
    padding: 0;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-align: center;

color: #000000;
}

.guitar__price{
    margin-top: 185px;
    margin-left: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}

.guitar__button{
margin-top: -25px;

width: 200px;
height: 40px;
left: 341px;
top: 892px;
background-color: #1EA412;;
border: #1EA412;;
color: white;
box-sizing: border-box;
border-radius: 10px;
margin-left: 105px;
justify-content: center;
text-decoration: none;
align-items: center;

}

.button__text{
    width: 118px;
height: 29px;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.rectangle__default{
    width: 400px;
    height: 400px;
    margin-top: 44px; 
    position: relative;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle__default1{
    width: 400px;
    height: 400px;
  
    position: relative;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container-footer{
    width: 1000px;
    margin-left: -20px;
   
    margin-top: 70px;
}
.footer1 {
   margin-left: 20px;
    background-color: #EBEBEB;
    width: 1400px;
    height: 120px;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }
